.menu__item{
    height: 40px;
    width: 224px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: $color-gray60;
    border-left: 4px solid $color-primary;
    &__icon{
        width: 24px;
        height: 24px;
        margin-right: 8px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__title{
        color: $color-white;
    }
}