.button{
  @include button($color-primary);
  &--white{
    @include button($color-white);
    figure{
      width: 77%;
      height: 62%;
      border-radius: 50%;
      background-image: url('assets/icons/Play-black.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 14px 14px;
    }
  }
}