.song{
    width: 100%;
    height: 44px;
    display: flex;
    h5{
        color: $color-white;
    }
    &__play{        
        width: 44px;
        height: 44px;
        padding: 10px;
        &__image{
            height: 24px;
            width: 24px;
            border-radius: 50%;
            background-color: rgba(23, 23, 23, 0.5);
            border: 1px solid $color-white;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 50%;
                height: 50%;
                object-fit: cover;
            }
        }

    }
    &__like{    
        width: 38px;
        height: 100%;
        padding-top: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__title{   
        width: 323px;
        height: 100%;
        padding: 10px;

    }
    &__artist{ 
        width: 274px; 
        height: 100%;
        padding: 10px;
    }
    &__album{
                
        width: 274px;
        height: 100%;
        padding: 10px;
    }
    &__date{          
        width: 92px;
        height: 100%;
        padding: 10px;
    }
    &__time{
        width: 48px; 
        height: 100%;
        padding: 10px;

    }
}