footer{
    grid-area: footer;
    background-color: $color-gray40;
    padding: 16px;  
    display: flex;
    //justify-content: space-around;
    align-items: center;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.timeline{
        
    width: 592px;
    height: 58px;
    margin-left: 130px ;
    margin-right: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__control{        
        width: 132px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__icon{          
            width: 14px;
            height: 13px;
        }
    }
    &__time{ 
        width: 566px;
        height: 14px;
        margin-top:4px ;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__line{       
        width: 496px;
        height: 4px;
        border-radius: 5px;
        background-color: $color-gray20;
        &--white{    
            width: 216px;
            height: 4px;
            border-radius: 5px;
            background-color: $color-white;
        }

    }
}
.volume{
    width: 142px;
    height: 24px;
    padding: 0px 8px 0px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__image{
        width: 22px;
        height: 24px;
    }
    span{          
        width: 96px;
        height: 4px;
        border-radius: 8px;
        background-color: $color-white;
    }

}